@layer tailwind-base, antd;

@layer tailwind-base {
    @tailwind base;
}
@tailwind components;
@tailwind utilities;

.bg-grid {
    background-color: #000000;
    background-image: url("../../public/sq.svg");
    background-size: 40px 40px;
}
